---
title: "Report: PGS Catalog Calculator Pipeline"
format:
  html:
    code-fold: true
jupyter: python3
---

In [10]:
import pandas as pd
import glob

In [31]:
# Load logs
paths_log = glob.glob("*_summary.csv")
log = pd.concat([pd.read_csv(x) for x in paths_log])

# Load PGS data
paths_pgs = glob.glob("*_pgs.txt.gz")
pgs = pd.concat([pd.read_csv(x, index_col=[0,1], sep='\t') for x in paths_pgs])

# Load PCA/pop sim
paths_popsim = glob.glob("*_popsimilarity.txt.gz")
popsim = pd.concat([pd.read_csv(x, index_col=[0,1], sep='\t') for x in paths_popsim])

# Pipeline Command

In [6]:
! cat command.txt

nextflow run /home/sl925/work_calculator/pgsc_calc/main.nf -profile singularity --input /home/sl925/work_calculator/sample_38_HGDP.csv --pgs_id PGS000018,PGS000337,PGS002262,PGS002237,PGS000004,PGS000007,PGS000015,PGS000317,PGS000773,PGS000785,PGS000370,PGS000027,PGS000320,PGS002751,PGS003129,PGS003133,PGS000297,PGS000758,PGS002993,PGS002990 --pgp_id PGP000382 --trait_efo EFO_0004833,EFO_0004612,EFO_0004611,EFO_0004574,EFO_0004530 -c /home/sl925/work_calculator/cardio.config --target_build GRCh38 --min_overlap 0.5 --keep_multiallelic false --ref /home/sl925/work_calculator/pgsc_calc_reference/pgsc_calc.tar.zst --outdir ./r_refscore -w ./work -resume

# Scoring file metadata

> Additional [documentation](https://pgsc-calc.readthedocs.io/en/latest/output.html#report) is available that explains some of the terms used this report in more detail

## Variant matching

### Parameters

In [22]:
! cat params.txt

keep_multiallelic: false
keep_ambiguous   : false
min_overlap      : 0.5

### Summary

In [35]:
summary = log.groupby(['dataset', 'accession', 'score_pass', 'match_status'])[['count', 'percent']].sum()
summary

                                                        count    percent
dataset accession              score_pass match_status
HGDP    PGS000004_hmPOS_GRCh38 True       excluded         56  17.891374
                                          matched         237  75.718850
                                          unmatched        20   6.389776
        PGS000007_hmPOS_GRCh38 True       excluded        781  20.445026
                                          matched        2822  73.874346
...                                                       ...        ...
        PGS003404_hmPOS_GRCh38 True       excluded          1  10.000000
                                          matched           9  90.000000
        PGS003405_hmPOS_GRCh38 False      excluded          1   0.591716
                                          matched          84  49.704142
                                          unmatched        84  49.704142

[533 rows x 2 columns]

### Detailed Results

In [25]:
log

,dataset,accession,score_pass,match_status,ambiguous,is_multiallelic,duplicate_best_match,duplicate_ID,match_flipped,match_IDs,count,percent
0,HGDP,PGS000659_hmPOS_GRCh38,True,excluded,False,False,False,False,False,False,1,0.704225
1,HGDP,PGS003141_hmPOS_GRCh38,True,excluded,True,True,True,True,False,True,6,0.166482
2,HGDP,PGS000688_hmPOS_GRCh38,True,excluded,False,True,True,False,False,False,2,0.012358
3,HGDP,PGS002955_hmPOS_GRCh38,True,excluded,True,True,True,False,False,True,156,0.951626
4,HGDP,PGS002669_hmPOS_GRCh38,True,excluded,False,True,True,False,False,True,10732,3.467808
...,...,...,...,...,...,...,...,...,...,...,...,...
1534,HGDP,PGS002956_hmPOS_GRCh38,True,excluded,True,True,True,False,False,False,6,0.023872
1535,HGDP,PGS003139_hmPOS_GRCh38,True,excluded,True,False,False,False,False,True,81992,14.396735
1536,HGDP,PGS002954_hmPOS_GRCh38,True,matched,False,False,False,False,True,True,8,0.000981
1537,HGDP,PGS002955_hmPOS_GRCh38,True,excluded,False,True,True,False,False,True,461,2.812176
1538,HGDP,PGS002805_hmPOS_GRCh38,True,excluded,False,False,False,False,False,False,1216,0.097630

# Scores